.searchfeed{
    width:100%;
    position: fixed;
    right: 0;
    overflow-y: auto;
    height: 100vh;
    margin-top: 20px;
    display: grid;
   grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
    gap:30px 16px;
    grid-template-rows: auto;
    padding-right: 10px;
    margin-left: 15px;
    padding-left: 10px;
}

.card h2{
    font-size: 14px;
    font-weight: 200;
    color: #000;
    margin: 5px 0;
}

.card h3{
    font-size: 14px;
    font-weight: 100;
    color: #555;
    margin: 5px 0;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card p{
    font-size: 12px;
    color: #11111186;
}